[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
openai = "*"
flask = "*"
flask-restful = "*"
presidio-analyzer = "*"
presidio-anonymizer = "*"
flask-cors = "*"
spacy = "*"
pymongo = "*"
flask-oidc = "*"
itsdangerous = "~=2.0.1"
certifi = "*"
python-dotenv = "*"
psycopg2-binary = "*"
transformers = "*"
sentencepiece = "*"
flask-smorest = "*"
marshmallow = "*"
langchain= "0.0.225"
pypdf= "3.11.0"
tiktoken= "0.4.0"
[dev-packages]
black = "*"

[requires]
python_version = "3.11"

[scripts]
start = "python3 src/app/app.py"
